[user]
	name = hi85
	email = 33993836+hi85gh@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore
[alias]
	a = add
	b = branch
	c = commit
	ch = checkout
	cp = cherry-pick
	d = diff
	l = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
	la = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --all --graph
	lf = log --pretty=full --all --graph --name-status --numstat
	ll = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --name-status
	ls = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --numstat
	r = remote
	ru = remote update --prune
	s = status
	sp = stash pop
	ss = stash save
