[user]
  name = hi85
  email = 33993836+hi85gh@users.noreply.github.com

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  excludesfile = ~/.gitignore

[alias]
  a = add
  an = add --intent-to-add
  ap = add --patch
  b = branch --verbose --verbose
  ba = branch --all
  c = commit
  cm = commit --message
  cme = commit --message '' --allow-empty-message
  co = checkout
  cp = cherry-pick
  d = diff
  dn = diff --name-only
  ds = diff --compact-summary
  l = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  la = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --all --graph
  lf = log --pretty=full --all --graph --name-status --numstat
  ll = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --name-status
  ls = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --numstat
  r = remote
  rb = reset --soft HEAD^
  rbh = reset --hard HEAD^
  ref = reflog --date=local
  ru = remote update --prune
  s = status
  sp = stash pop
  ss = stash save
  sw = switch
  swc = switch --create
  t = tag
  tl = tag --list
  z = "!f () {\
    if [ \"$2\" = \"\" ]; then \
      git archive --format=zip --prefix=archive/ HEAD `git diff --diff-filter=d --name-only $1 HEAD` -o archive.zip; \
    else \
      git archive --format=zip --prefix=archive/ $1 `git diff --diff-filter=d --name-only $2 $1` -o archive.zip; \
    fi; \
  };f"

[include]
  path = ~/.gitconfig.local
