{
  "endOfLine": "lf",
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.yaml", "*.yml", "*.md"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
